<div ng-controller="EditProductController">
    <div class="form">
        <div class="dx-fieldset">
            <div class="dx-fieldset-header">Dane podstawowe</div>
            <div class="dx-field">
                <div class="dx-field-label">Nazwa</div>
                <div class="dx-field-value">
                    <div id="nameInput"
                         dx-text-box="{ bindingOptions: { value: 'product.name' }}"></div>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Kategoria</div>
                <div class="dx-field-value">
                    <div id="categoryInput"
                         dx-text-box="{ bindingOptions: { value: 'product.category' }}"></div>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Opis</div>
                <div class="dx-field-value">
                    <div id="decription"
                         dx-text-area="{ bindingOptions: { value: 'product.description' }}"></div>
                </div>
            </div>
        </div>
        <div dx-button="backButton"></div>
    </div>
</div>