/* Styles for annual plan module */
$color-base: #8AC007;
$daycell-width: 60px;


.daycell {
    float: left;
    width: $daycell-width;
    border-radius: 15px;
    border: 2px solid $color-base;
    padding: 0 1.5em;
	@include box-sizing(border-box);
}
